*.h5
*.png
analysis.txt 
default.profdata 
default.profraw 
my_program 
my_program.dSYM/* 
*.o
.vscode/
*.csv
simplicial_complex
.DS_Store 
.zshrc.user 
audio-emotions/ 
debug.log 
gudhi-devel/ 
savefiles/ 
*.wav
*.pth
